.p-password:has(.p-password-toggle-mask-icon) .p-password-input {
  padding-inline-end: calc(
    (var(--p-form-field-padding-x) * 2) + var(--p-icon-size)
  );
  width: 100%;
}
.p-password input:focus {
  @apply border-gray-500;
}

.p-password .p-password-input {
  width: 100%;
}
